header {
    height: 100vh;
    padding-top: 0rem;
    overflow: hidden;
}

.header_container {
    text-align:center;
    height: 100%;
    position: relative;
}

.gskrt {
    position: relative;
    top: 15rem
}

.cta {
    margin-top: 22rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position:absolute;
    left: 0;
    bottom: 3rem;
}

.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* == Medium == */
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

/* == Small == */
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }
    .header_socials,
    .scroll_down {
        display: none;
    }
}